$logo-max-width: 200px;
$sidebar-bg-color: #8A8ACB;

/* Colors */
$body-bg-color: none;
$body-text-color: #333;

$menu-text-color: #FFFFFF;
$menu-text-color-hover: #FFFFFF;

$menu-bg-color: none;
$menu-bg-color-hover: #676798;

$menu-border-color: #AAA;
$menu-border-color-hover: #4D4D72;

$menu-mobile-text-color: #000;
$menu-mobile-text-color-hover: #000;

$menu-mobile-bg-color: #CCC;
$menu-mobile-bg-color-hover: #CCC;

$menu-mobile-border-color: #AAA;
$menu-mobile-border-color-hover: #4D4D72;