[submodule "application/third_party/pyxform"]
	path = application/third_party/pyxform
	url = git@github.com:SEL-Columbia/pyxform.git
[submodule "application/third_party/enketo-xslt"]
	path = application/third_party/enketo-xslt
	url = git@github.com:MartijnR/enketo-xslt.git
[submodule "assets/libs/enketo-core"]
	path = assets/libs/enketo-core
	url = git@github.com:MartijnR/enketo-core.git
[submodule "src/vendor/jquery-toastmessage"]
	path = src/vendor/jquery-toastmessage
	url = git@github.com:akquinet/jquery-toastmessage-plugin.git
