application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#User files
files/*

#System files
.project
.DS_Store

# Other
document-it

#Task automation
.sass-cache
node_modules
src/bower_components

#Scripts and css
assets/css
assets/scripts
