application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#User files
files/*

#System files
.project
.DS_Store

# Other
document-it
