application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#User files
files/*
tests/tmp

#System files
.project
.DS_Store
.vagrant

# Other
document-it

#Task automation
.sass-cache
node_modules
src/bower_components
src/temp

#Scripts and css
assets/styles
assets/scripts
assets/images/vendor

#Demo files
reset.demo.last
reset.demo.key
