/**
 *    base:       #454D53
 *    primary:    #047998
 *    info:       lighten 20% primary
 *    success:    #40B19B
 *    warning:    #FFBB00
 *    danger:     #DA454A
 */



.bttn {
  display: inline-block;
  padding: rem-calc(0 12);
  border-radius: rem-calc(4);
  font-weight: 700;
  color: white;
  
  &:before, &:after {
    font-size: rem-calc(16);
  }
  
  &:hover {
    color: white;
  }
}

.bttn-primary {
  @include button-skin(#047998);
  
  &:active, &.current {
    @include button-skin(#047998, 'active');
  }
}
.bttn-success {
  @include button-skin(#40B19B);
  
  &:active, &.current {
    @include button-skin(#40B19B, 'active');
  }
}
.bttn-danger {
  @include button-skin(#DA454A);
  
  &:active, &.current {
    @include button-skin(#DA454A, 'active');
  }
}

.bttn-small {
  line-height: rem-calc(32);
  height: rem-calc(32);
  font-size: rem-calc(14);
}

.bttn-medium {
  line-height: rem-calc(40);
  height: rem-calc(40);
  font-size: rem-calc(16);
}



/* Dropdown */
.action-dropdown {
  @include reset-list;
  min-width: rem-calc(200);
  position: absolute;
  top: 52px;
  left: 0;
  @include border-radius(4px);
  box-shadow: 0 0 0 2px rgba(#464E54, 0.1);
  background-color: white;
  color: #909598;
  font-size: rem-calc(14);
  
  &:before {
    @extend .icon-s-triangle-up;
    position: absolute;
    top: -31px;
    left: 8px;
    color: white;
    font-size: 32px;
    text-shadow: 0 -3px rgba(#464E54, 0.1);
    line-height: 56px;
  }
  
  .logged-user, a {
    padding: rem-calc(12);
    border-bottom: 1px solid #ECEDEE;
  }
      
  .logged-user strong{
    display: block;
    color: #464E54;
    font-weight: normal; 
  }
  
  li {
    a {
      display: block;
    }
    
    &:last-child a{
      border: none;
    }
  }
}

.action-dropdown-primary {
  @extend .action-dropdown;
  top: 0;
  left: 84px;
  
  &:before {
    @extend .icon-s-triangle-left;
    top: 0;
    left: -19px;
    text-shadow: -3px 0 rgba(#464E54, 0.1);
  }
}