/* Generic link styles */
a:link,
a:visited {
  color: palette(blue);
  @include transform(translate3d(0, 0, 0));
  @include transition-property(opacity, top, left, right);
  @include transition-duration(0.2s, 0.1s, 0.2s, 0.2s);
  @include transition-timing-function(ease, ease, ease, ease);
  @include transition-delay(0, 0, 0, 0);
  cursor: pointer;
}

a:hover,
a:focus {
  outline: none;
  opacity: 0.7;
}

a:active {
  position: relative;
  top: 2px;
}
/* // Generic link styles */

/* Fancy link styles */
.go-link,
.expand-link {
  position: relative;
  padding-right: rem-calc(24);
  &:before {
    @include transition(all 0.1s ease);
    position: absolute;
    top: 0;
    right: rem-calc(20);
    z-index: 1;
    opacity: 0;
    font-size: 1rem;
  }
  &:hover {
    &:before {
      opacity: 1;
      right: 0;
    }
  }
}

.go-link:before { @extend .icon-arr-tail-right; }
.expand-link:before { @extend .icon-arr-tail-down; }

.survey-warnings-expand {
  font-weight: $body-font-bold;
  line-height: rem-calc(22);
  float: right;
  
  &:after {
    @extend .icon-arr-tail-down;
    margin-left: rem-calc(4);
    opacity: 0.5;
    vertical-align: bottom;
  }
  
  small {
    font-weight: normal;
    font-size: inherit;
  }
}

/* Base button style */
.bttn {
  display: inline-block;
  padding: rem-calc(0 12);
  border-radius: rem-calc(4);
  font-weight: $body-font-bold;
  text-align: center;
  
  &:link,
  &:active,
  &:visited {
    position: static;
    top: 0;
    color: white;
  }
  &:active {
    opacity: 1;
  }
  &:before, &:after {
    font-size: rem-calc(16);
    vertical-align: bottom !important;
  }
}

.bttn-dropdown {
  &:after {
    @extend .icon-s-arr-down;
    margin-left: rem-calc(4);
    opacity: 0.6;
  }
}

/* Button sizes */
.bttn-small {
  line-height: rem-calc(32);
  height: rem-calc(32);
  font-size: rem-calc(14);
}
.bttn-medium {
  line-height: rem-calc(40);
  height: rem-calc(40);
  font-size: rem-calc(16);
}
/* // Button sizes */

/* Button colors */
.bttn-primary {
  @include button-skin(palette(blue));
  
  &:active, &.current {
    @include button-skin(palette(blue), 'active');
  }
}
.bttn-success {
  @include button-skin(palette(green));
  
  &:active, &.current {
    @include button-skin(palette(green), 'active');
  }
}
.bttn-danger {
  @include button-skin(palette(red));
  
  &:active, &.current {
    @include button-skin(palette(red), 'active');
  }
}
.bttn-default {
  @include button-skin(palette(grey, mid-dark), $tint_prc: 10%);
  
  &:active, &.current {
    @include button-skin(palette(grey, mid-dark), $status: 'active', $tint_prc: 10%);
  }
}
.bttn-default-light {
  &:link,
  &:active,
  &:visited {
    color: palette(grey, dark);
  }
  
  @include button-skin(palette(grey, x-light), $tint_prc: 10%);
  
  &:active, &.current {
    @include button-skin(palette(grey, x-light), $status: 'active', $tint_prc: 10%);
  }
}
/* // Button colors */

/* Button groups */
.bttn-group {
  @include reset-list;
  @include clearfix();
  
  &>li {
    float: left;
    
    /* Add spacing between buttons except the last one */
    margin-left: 1px;
    &:last-child {
      margin: none;
    }
    
    /* Remove border-radius. */
    .bttn {
      border-radius: 0;
    }
    
    /* Border on the last */
    &:first-child .bttn {
      border-radius: rem-calc(4 0 0 4);
    }
    &:last-child .bttn {
      border-radius: rem-calc(0 4 4 0);
    }
  }
}

.bttn-center {
  float: left;
  clear: left;
  position: relative;
  left: 50%;
  
  &>li {
    float: left;
    position: relative;
    right: 50%;
  }
}
/* // Button groups */

.bttn-toolbar {
  @include reset-list;
  //float: left;
  
  &>li {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    margin-right: rem-calc(8);
    
    &:last-child {
      margin-right: 0;
    }
  }
}

a.disabled {
  opacity: 0.4;
  cursor: default;
  
  &:active {
    position: static;
    top: 0;
  }
  
  &:hover {
    background: none !important;
  }
}

/* Dropdown */
.action-dropdown {
  min-width: rem-calc(200);
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 10;
  @include border-radius(4px);
  @include reset-list;
  box-shadow: 0 0 0 2px rgba(palette(grey, dark), 0.1);
  background-color: white;
  color: #909598;
  font-size: rem-calc(14);
  font-weight: $body-font-bold;
  
  opacity: 0;
  margin-top: rem-calc(-16);
  visibility: hidden;
  @include transition-property(opacity, margin, visibility);
  @include transition-duration(0.1s, 0.1s, 0.1s);
  @include transition-timing-function(ease, ease, linear);
  @include transition-delay(0, 0, 0);
  
  &:before {
    @extend .icon-triangle-up;
    position: absolute;
    z-index: 15;
    top: -11px;
    left: 1rem;
    color: white;
    font-size: 1rem;
    text-shadow: 0 -2px rgba(palette(grey, dark), 0.1);
    line-height: 1;
    height: 1rem;
    width: 1rem;
  }
  
  &.revealed {
    opacity: 1;
    margin-top: 0;
    visibility: visible;
  }

  li {
    position: relative;
    z-index: 20;
    padding: rem-calc(4 0);
    border-bottom: 1px solid palette(grey, x-light);
    
    /* Logged user is a special element only used in the primary nav */
    &.logged-user, a {
      padding: rem-calc(8 12);
    }
    
    &.logged-user strong {
      display: block;
      color: palette(grey, dark);
      font-weight: normal; 
    }
    
    a {
      display: block;
      
      &:hover {
        background-color: palette(blue, x-light);
      }
      
      &.danger {
        color: palette(red);
        &:hover {
          background-color: palette(red, x-light);
        }
      }
    }
    
    &:last-child {
      border: none;
    }
  }
}

.action-dropdown-primary {
  @extend .action-dropdown;
  top: 0;
  left: 84px;
  opacity: 0;
  margin-top: 0;
  margin-left: rem-calc(-16);
  visibility: hidden;
  
  &.revealed {
    opacity: 1;
    margin-top: 0;
    margin-left: 0;
    visibility: visible;
  }
  
  &:before {
    @extend .icon-triangle-left;
    top: 1rem;
    left: -11px;
    text-shadow: -2px 0 rgba(palette(grey, dark), 0.1);
  }
}

/* Dropdown for button size */
.for-bttn-small {
  top: 44px;
}
/* // Dropdown for button size */