/* ==========================================================================
   Helpers - extends + custom vars
   ========================================================================== */

.visually-hidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin button-skin($bgcolor, $status: 'normal') {
  $tint-color: tint($bgcolor, 25%);
  $shade-color: shade($bgcolor, 25%);
  @if $status == 'active' {
    background-color: shade($bgcolor, 10%);
    box-shadow:inset 0 2px 0 0 $shade-color, inset 0 -2px 0 0 $tint-color;
  }
  @else {
    background-color: $bgcolor;
    box-shadow:inset 0 2px 0 0 $tint-color, inset 0 -2px 0 0 $shade-color;
  }
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}