.contained {
  background-color: white;
  padding: rem-calc(32);
  box-shadow: 0 2px 0 0 rgba(palette(grey, dark), 0.1);
  border-radius: rem-calc(4);
  font-size: rem-calc(14);
  margin-bottom: rem-calc(32);
  
  &:last-child {
    margin-bottom: 0;
  }
  
  p {
    font-size: rem-calc(14);
    line-height: rem-calc(22);
    margin-bottom: rem-calc(16);
  }
  
  ul {    
    li {
      font-size: rem-calc(14);
      line-height: rem-calc(22);
    }
  }
  
  .contained-head, .contained-foot {
    position: relative;
    @include clearfix();
    background-color: palette(grey, dark);
    color: palette(grey);
    padding: rem-calc(16 32);
    font-size: rem-calc(14);
  }
  
  .contained-head {
    margin: rem-calc(-32 -32 16 -32);
    border-radius: rem-calc(4 4 0 0);
    color: white;
    
    h1 {
      border-bottom: rem-calc(1) solid palette(grey, mid-dark);
      margin: rem-calc(-16 -32 16 -32);
      padding: rem-calc(16 32);
    }
    
    &>*:last-child {
      margin-bottom: 0;
    }
    
    .filters {
      .bttn {
        min-width: rem-calc(96);
      }
    }
    
    .time {
      color: palette(grey);
    }
  }

  .contained-foot {
    background-color: palette(grey, dark);
    margin: rem-calc(16 -32 -32 -32);
    border-radius: rem-calc(0 0 4 4);
    
    p {
      float: left;
      margin: 0;
      line-height: rem-calc(24);
    }
    
    ul {
      margin-top: rem-calc(-24);
    }
  }
  
  .contained-body {
    margin: rem-calc(0 -32 0 -32);
  }
  
  table {
    width: 100%;
    margin: rem-calc(-16 0 -16 0);
    
    tr {
      td:first-child, th:first-child {
        padding-left: rem-calc(32);
      }
      td:last-child, th:last-child {
        padding-right: rem-calc(32);
      }
    }
    
    tbody {
      tr {
        border-bottom: 1px solid palette(grey, x-light);
        @include transition(all 0.1s ease);
        &:last-child {
          border: none;
        }
        &:hover {
          background-color: palette(grey, xx-light);
        }
      }
      small {
        display: block;
        font-size: inherit;
        color: palette(grey, base);
      }
    }
    .highlight {
      font-size: 1rem;
    }
  }
  
  %base-empty {
    text-align: center;
    color: palette(grey);
    border-radius: rem-calc(8);
    border: rem-calc(4) dashed palette(grey, x-light);
    padding: rem-calc(48 32);
    
    h1 {
      @extend .hd-l;
      color: inherit;
    }
    
    &>*:last-child {
      margin-bottom: 0;
    }
  }
  
  .contained-empty {
    @extend %base-empty;
    padding: rem-calc(160 32);
  }
  
  .widget {
    border-bottom: 1px solid palette(grey, x-light);
    padding: rem-calc(0 32 16 32);
    margin-bottom: rem-calc(16);
    
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    
    .widget-head {
    }
    
    .widget-body {
    }
  }
  
  .widget-bfc {
    @extend .clearfix;
    
    .widget-head {
      float: left;
      margin-right: rem-calc(16);
      width: 30%;
      
      h1 {
        margin-bottom: 0;
      }
    }
    .widget-body {
      padding-top: rem-calc(3);
      display: table-cell;
      width: 1000px;
    }
  }
  
  .widget-empty {
    @extend %base-empty;
    padding: rem-calc(80 32);
  }
}


.progress-bar {
  @extend %rounded;
  box-shadow: inset 0 2px 0 0 palette(grey, light);
  background-color: palette(grey, x-light);
  height: rem-calc(32);
  padding: rem-calc(4);
  margin-bottom: rem-calc(16);
  
  ul {
    @extend %rounded;
    @include reset-list();
    @extend .clearfix;
    overflow: hidden;
    height: rem-calc(24);
  }
  
  li {
    height: rem-calc(24);
    float: left;
  }
  
  .primary {
    background-color: palette(blue);
  }
  .success {
    background-color: palette(green);
  }
  .danger {
    background-color: palette(red);
  }
  .warning {
    background-color: palette(yellow);
  }
}

.progress-bar-legend {
  @include reset-list();
  position: relative;
  
  li:before {
    @extend %rounded;
    content: '';
    display: inline-block;
    margin-right: rem-calc(8);
    width: rem-calc(12);
    height: rem-calc(12);
  }
  
  .primary:before {
    background-color: palette(blue);
  }
  .default:before {
    background-color: palette(grey, light);
  }
  .success:before {
    background-color: palette(green);
  }
  .danger:before {
    background-color: palette(red);
  }
  .warning:before {
    background-color: palette(yellow);
  }
  
  .summary {
    margin-top: rem-calc(16);
  }
  
  .summary-alt {
    position: absolute;
    top: 0;
    right: 0;
  }
}



/* This parent can be any width and height */
/* http://css-tricks.com/centering-in-the-unknown/ */
.confirm-box-wrapper {
  text-align: center;
  background: none repeat scroll 0 0 rgba(palette(grey, dark), 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  min-width: 300px;
  
  /* The ghost, nudged to maintain perfect centering */
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

/* The element to be centered, can
   also be of any width and height */ 
.confirm-box {
  width: 30%;
  min-width: 300px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  
  background-color: white;
  padding: rem-calc(0 32);
  box-shadow: 0 2px 0 0 rgba(palette(grey, dark), 0.1);
  border-radius: rem-calc(4);
  font-size: rem-calc(14);
  
  .confirm-box-head,
  .confirm-box-foot {
    position: relative;
    @include clearfix();
    background-color: palette(grey, x-light);
    margin: rem-calc(0 -32);
  }
  
  .confirm-box-head {
    padding: rem-calc(16 32 0 32);
    border-radius: rem-calc(4 4 0 0);
    
    .confirm-icon-close {
      display: block;
      position: absolute;
      top: rem-calc(20);
      right: rem-calc(16);
      width: rem-calc(16);
      height: rem-calc(16);
      opacity: 0.5;
      
      &:link,
      &:active,
      &:visited {
        color: palette(grey, dark);
      }
      
      &:before {
        @extend .icon-s-cancel;
        width: rem-calc(16);
        height: rem-calc(16);
        font-size: rem-calc(16);
        line-height: rem-calc(16);
      }
    }
  }
  
  .confirm-box-foot {
    padding: rem-calc(16 32);
    border-radius: rem-calc(0 0 4 4);
    
    .bttn-toolbar {
      float: right;
    }
  }
  
  .confirm-box-body {
    padding: rem-calc(32 0);
    
    &>*:last-child {
      margin-bottom: 0;
    }
  }
}

/* For the animation */
.confirm-box-wrapper {
  opacity: 0;
  visibility: hidden;

  .confirm-box {
    opacity: 0;
    margin-top: rem-calc(-48);
    visibility: hidden;
   
  }
  
  &.revealed {
    @include transform(translate3d(0, 0, 0));
    @include transition-property(opacity, visibility);
    @include transition-duration(0.1s, 0.1s);
    @include transition-timing-function(ease, linear);
    @include transition-delay(0, 0);
    
    opacity: 1;
    visibility: visible;
    
    .confirm-box {
      @include transform(translate3d(0, 0, 0));
      @include transition-property(opacity, margin, visibility);
      @include transition-duration(0.1s, 0.1s, 0.1s);
      @include transition-timing-function(ease, ease, linear);
      @include transition-delay(0.2s, 0.2s, 0.2s);
      
      opacity: 1;
      margin-top: 0;
      visibility: visible;
    }
  }
    
}