%mast-padding {
  padding-right: $column-gutter / 2;
  padding-left: ($column-gutter / 2) + $header-width;
}

#site-canvas {
  @extend %mast-padding;
  padding-bottom: rem-calc(32);
}

#site-head {
  width: $header-width;
  background-color: palette(blue);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
  padding-top: rem-calc(24); 
  
  #site-title {
    margin: rem-calc(32 0 64 0);
    font-weight: $body-font-bold;
    @include rotate(-90deg);
    writing-mode: tb-rl;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 50% 51%;
    
    a {
      display: block;
      color: white;
    }
  }
  
  /* Navigation bar */
  #nav-links {
    @include reset-list;
    
    a {
      display: block;
    }
    
    &>li {
      margin-bottom: rem-calc(8);
      position: relative;
      
      &>a {
        
        &.current {
          @include button-skin(palette(blue), 'active');
        }
        
        margin: 0 auto;
        color: white;
        display: block;
        width: rem-calc(56);
        line-height: rem-calc(32);
        height: rem-calc(56);
        text-align: center;
        padding: rem-calc(12);
        @include border-radius(4px);
        
        &:before{
          font-size: rem-calc(32);
          vertical-align: bottom !important;
        }
      }
    }    
    
    .dashboard {
      &:before {
        @extend .icon-dashboard;
      }
    }
    .surveys {
      &:before {
        @extend .icon-survey;
      }
    }
    .users {
      &:before {
        @extend .icon-users;
      }
    }
    .user-switch-dev {
      &:before {
        @extend .icon-user;
      }
    }
    .account {
      &:before {
        @extend .icon-cog;
      }
    }
  }
  
  #connection-status {
    width: rem-calc(80);
    height: rem-calc(80);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: rem-calc(24);
    background-color: #454d53;
    display: none;
    
    .beacon {
      font-style: normal;
      display: block;
      color: palette(red);
      font-size: rem-calc(32);
      line-height: rem-calc(32);
      position: relative;
      
      &:before,
      &:after {
        @include transform(translate3d(0, 0, 0));
        //-webkit-transform-origin: 50% 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      &:before {
        @extend .icon-io-outer;
        opacity: 0.4;
      }
      &:after {
        @extend .icon-io-inner;
      }
      
      &.online {
        color: palette(green);
      }
      
      &.working {
        &:before {
          @include animation(spin-c 3s linear 0s infinite);
        }
      }
    }
  }
}

/* Site header on pages like login */
.not-logged {
  #site-canvas {
    padding-left: $column-gutter / 2;
    padding-top: rem-calc(128);
  }
  
  #site-head {
    width: 100%;
    background: none;
    position: static;
    padding: 0;
    
    /*TODO: Temporary site-title*/
    #site-title {
      @include rotate(0);
      writing-mode: inherit;
      margin: rem-calc(0 0 32 0);
      
      a {
        display: block;
        text-align: center;
        color: palette(grey, dark);
      }
    }
  }
}



#site-body {
  
  /* Section header */
  #page-head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    @extend %mast-padding;
    
    &>.inner {
      @include grid-row();
      @include clearfix();
      padding-top: rem-calc(32);
      padding-bottom: rem-calc(32);
      background-color: palette(grey, x-light);
    }
    
    &>.overlay {
      box-shadow: 0 4px 0 0 rgba(palette(grey, dark), 0.2);
    }

    .heading {
      @include grid-column(6);
      
      .hd-xl {
        padding: rem-calc(2) 0;
      }
    }   
    
    /* Secondary navigation (nav) */
    #secondary {
      @include grid-column(6);
      
      .bttn-toolbar {
        float: right;
        
        .sector-switcher {
          border-right: rem-calc(2) solid palette(grey, light);
          margin-right: rem-calc(16);
          
          &:last-child {
            border: none;
          }
        }
        .bttn-sector {
          @extend .bttn;
          @extend .bttn-medium;
          
          font-size: rem-calc(20);
          
          &:link, &:visited, &:active {
            color: palette(grey, dark);
          }
        }
      }
    }
  }
}

/* ==========================================================================
   Survey statuses
   ========================================================================== */
%indicator-status-base {
  @extend %rounded;
  width: rem-calc(12);
  height: rem-calc(12);
  
  /** Explanation margin.
   *  top|bottom: the margin value + element height = h1 line-height
   *  right: shadow value + 8px
   *  left: shadow value
   */
  margin: rem-calc(12 14 12 6);
  display: block;
  float: left;
  content: '';
  box-shadow: 0 0 0 6px rgba(palette(grey, dark), 0.1);
}

.indicator-status-draft {
  &:before {
    @extend %indicator-status-base;
    background-color: palette(blue);
  }
}
.indicator-status-open {
  &:before {
    @extend %indicator-status-base;
    background-color: palette(green);
  }
}
.indicator-status-closed {
  &:before {
    @extend %indicator-status-base;
    background-color: palette(grey, dark);
  }
}
.indicator-status-canceled {
  &:before {
    @extend %indicator-status-base;
    background-color: palette(red);
  }
}

%status-base {
  @extend %rounded;
  width: rem-calc(12);
  height: rem-calc(12);
  margin: rem-calc(1) rem-calc(8) 0 0;
  content: '';
  display: block;
  float: left;
}

.status {
  @extend %rounded;
  padding: rem-calc(8 12);
  display: inline-block;
  line-height: rem-calc(14);
  font-weight: $body-font-bold;
  background-color: palette(grey, x-light);
  color: palette(grey, dark);
}

.status-draft {
  &:before {
    @extend %status-base;
    background-color: palette(blue);
  }
}

.status-open {
  &:before {
    @extend %status-base;
    background-color: palette(green);
  }
}

.status-closed {
  &:before {
    @extend %status-base;
    background-color: palette(grey, dark);
  }
}

.status-canceled {
  &:before {
    @extend %status-base;
    background-color: palette(red);
  }
}

.action-dropdown {
  [class*=' status-'], [class^='status-'] {
    &:before {
      margin-top: rem-calc(5);
    }
  }
}
.bttn-small{
  &[class*=' status-'], &[class^='status-'] {
    &:before {
      margin-top: rem-calc(10);
    }
  }
}
.bttn-medium{
  &[class*=' status-'], &[class^='status-'] {
    &:before {
      margin-top: rem-calc(14);
    }
  }
}

.survey-warnings {
  margin: rem-calc(16 -32 0 0);
  padding: rem-calc(16 32 0 0);
  border-top: rem-calc(1) solid palette(grey, x-light);
}


.login-box {
  @include grid-column(6, $offset: 3);
  
  form {
    margin: rem-calc(32 32 0 32);
  }
}