<!DOCTYPE html>
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>

  
  <link rel="stylesheet" href="/css/app.css">
  
  <script src="/scripts/modernizr.min.js"></script>

</head>
<body>
  
  <aside class="sidebar">
    <header class="logo">
      <a href="/"><img src="http://flipside.org/images/logo-flipside.png" alt="Logo" /></a>
    </header>
    {% include menu.html %}
  </aside>
  
  <section id="container">
    {{ content }}
  </section>
  
  <script src="/scripts/script.min.js"></script>
</body>
</html>